<!DOCTYPE html>
<html>

<head>
    <title>My Headers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .main {
            margin-left: 30px;
            margin-right: 30px
        }

        .claims {
            border: 1px outset #F2F2F2;
            background-color: black;
            color: white;
            width: 1300px
        }

    </style>
</head>

<body>
    <div class="main">
        <h1>Request Headers</h1>
        <div class="claims">
            <pre>{{headers}}</pre>
          </div>
          </div>
        </div>
</body>

</html>